// Header
.navbar-nav-header a {
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.navbar-brand {
  font-family: dr-sugiyama-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
}
