@import "variables";
@import "navbar";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.scrolling-container {
  overflow-x: auto;
  white-space: nowrap;
}

.overflow-card {
  display: inline-block;
  margin-right: 10px;
  width: 300px;
}

.card-body {
  max-width: 100%;
}

.form-control {
  background-color: $tertiary;
}

.btn {
  background-color: $red-100;
  color: $primary;
  border: solid 1px $primary;
}

.btn:hover {
  background-color: $secondary;
  border-color: $primary;
}

.btn:active {
  background-color: $light;
  border-color: $secondary;
}

.btn-log-in,
.btn-register {
  justify-content: end;
  float: inline-end;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: $secondary;
}

.credits-register-info {
  background-color: $red-100;
  border-radius: $border-radius;
}

.error-message {
  background-color: $warning;
  border-radius: $border-radius;
  margin-top: 1rem;
  padding: 0.375rem;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

#logged-out-header-icons {
  a {
    .fa-user {
      color: $secondary;
      font-size: 1.8rem;

      &:hover {
        color: lighten($secondary, 10%);
      }
    }
  }
}

#logged-in-header-icons {
  a {
    .fa-user {
      color: $secondary;
      font-size: 1.8rem;

      &:hover {
        color: lighten($secondary, 10%);
      }
    }
  }
}
#logged-in-header-icons {
  .fa-coins {
    color: $secondary;
    font-size: 1.8rem;

    &:hover {
      color: lighten($secondary, 10%);
    }
  }
}
